.centered-line {
    overflow: hidden;
    text-align: center;
}

.centered-line::before,
.centered-line::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.centered-line::before {
    right: 1em;
    margin-left: -50%;
}

.centered-line::after {
    left: 1em;
    margin-right: -50%;
}

.title-line {
    color: #fff;
    margin-top: 1em;
}
.title-line::before,
.title-line::after {
    background-color: #fff;
    box-shadow: 0 1px 1px #000;
}

.app-switcher {
    display: flex;
    height: 2em;
    text-align: center;
    margin: 0 .1em;
}
.app-switcher-desc {
    margin: 0 .5em;
    flex: 1 1 0;
    opacity: .5;
    height: 2em;
    line-height: 2rem;
    font-size: .8em;
}
@media screen and (max-width: 570px) {
    .app-switcher-desc {
        flex: 1 1 0;
        display: none;
    }
    .app-switcher-item {
        flex: 1 1 0 !important;
    }
}

.app-switcher-desc a {
    color: unset;
}

.app-switcher-left {
    text-align: right;
}
.app-switcher-right {
    text-align: left;
}
.app-switcher-item {
    flex: 0 0 4.3em;
    border-radius: 3px;
    height: 1.6em;
    line-height: 1.6em;
    color: black;
    margin: .2em .1em;
    transition: unset; /* override ant design */
}
.app-switcher-item img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .2rem;
    position: relative;
    top: .2rem;
    vertical-align: unset; /* override ant design */
}
.app-switcher-logo-hover {
    margin-left: -1.4rem;
}

.app-switcher-item:hover {
    background-color: black;
    color: white;
}
.app-switcher-item-current {
    background-color: rgba(0,0,0,.4);
    text-shadow: 0 0 5px rgba(0,0,0,.5);
    color: white;
}

.app-switcher-item:hover .app-switcher-logo-normal, .app-switcher-item-current .app-switcher-logo-normal {
    opacity: 0;
}
.app-switcher-item:not(.app-switcher-item-current):not(:hover) .app-switcher-logo-hover {
    opacity: 0;
}


.aux-margin {
    width: calc(100% - 2 * 50px);
    margin: 0 50px;
}
@media screen and (max-width: 1300px) {
    .aux-margin {
        width: calc(100% - 2 * 10px);
        margin: 0 10px;
    }
}

.title {
    font-size: 1.5em;
    height: 4rem;
    padding-top: 1rem;
    text-align: center;
}